@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand-primary: #10b981; /* Emerald 500 */
  --color-brand-secondary: #3b82f6; /* Blue 500 */
  --color-bg-dark: #0a0a0a;
  --color-card-dark: #141414;
  --color-border-dark: #262626;
}

@layer base {
  body {
    @apply bg-bg-dark text-gray-100 font-sans antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-bg-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-border-dark rounded-full hover:bg-gray-700;
}
